*{
 margin: 0px;
 padding: 0px;
 box-sizing: border-box;
}
.home{
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-left: auto;
 margin-right: auto;
 width: 100%;
}
.home__image {
 width: 100%;
 object-fit: cover;
 mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
 margin-bottom: -150px !important;
 z-index: -1;
 
}
.home__contianer{
 width: 100vw;
 height: 100%;

}
.home__row{
 display: flex;
 flex-direction: row;
 z-index: 1;
 margin-left: 5px;
 margin-right: 5px;
}
